<!DOCTYPE html>
<html>
<head>
    #if ($baseUri)
        <base href="$baseUri/">
    #end
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/styles/landing.css">

    <title>Cantaloupe Image Server</title>
</head>

<body>
    <div id="container">
        <img src="static/images/cantaloupe-320.png" width="320" alt="Logo">
        <a href="/cantaloupe/admin/">Admin page</a>
        <a href="/cantaloupe/iiif/2/header-image.jpg/pct:50,50,100,100/full/0/default.png">Sample image URL</a>
        <h1>Cantaloupe Image Server <small>$version</small></h1>
    </div>
</body>

</html>
